.topic-generator {
  margin: auto;
  margin-top: 10%;
  text-align: center;
  align-content: center;
  width: 60%;
}

.form-file-property {
  width: 150px;
  margin-top: 10px;
  margin: auto;
}

.error-icon {
  color: red;
}
.form-property-error-message,
.form-error-message {
  margin-top: 5px;
  color: red;
  font-weight: bold;
}

.form-success-message {
  margin-top: 5px;
  color: green;
  font-weight: bold;
  margin-bottom: 5em;
}

.form-property-wrapper {
  display: block;
  margin-top: 10px;
}

.form-property-label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.form-property-input {
  display: block;
  margin: auto;
}

.form-property-input-new-tag {
  margin: auto;
  width: 80%;
  display: inline;
}

.form-property-textarea {
  display: block;
  margin: auto;
}

.uploaded-image-preview {
  height: 50px;
  width: auto;
  display: block;
  margin: auto;
  margin-top: 10px;
}

.form-submit-button {
  display: block;
  margin-top: 10px;
  width: 70px;
  background-color: rgb(23, 128, 226);

  margin: auto;
}
.form-submit-button:hover {
  background-color: rgb(25, 78, 128);
}

.add-new-tag-button {
  display: inline;
  cursor: pointer;
  color: rgb(23, 128, 226);
  position: absolute;
  margin-top: 3px;
  margin-left: 10px;
}

.existing-tags-section {
  font-style: italic;
}
